<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/round_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sudoku"
        >
        <meta-data
            android:name="com.google.android.gms.ads.DELAY_APP_MEASUREMENT_INIT"
            android:value="true"/>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6148517439938867~8769048012"/>
        <meta-data android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/game_services_project_id"/>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameDifficultyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StatsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LeaderboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameWonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameLostActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>